h1, p {
  text-align: center;
}

h1 span {
  position: relative;
  text-transform: uppercase;
}

p, a {
  font-size: 18px;
  line-height: 22px;
  color: #414141;
}

a {
  min-height: 44px;
  min-width: 44px;
  cursor: pointer;
}