<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restaurant Apps Starter Project</title>
</head>
<body>
	<header class="header" id="header"></header>
	<div class="carousel" id="carousel"></div>
	<a href="#content" class="skip-to-content">Skip to Content</a>
	<div class="content" id="content"></div>
	<footer class="footer" id="footer"></footer>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="" width="450" alt="">
<img src="" width="450" alt="">
<img src="" width="450" alt="">
<img src="" width="450" alt=""> -->
</body>
</html>
