.button-favourite {
  position: fixed;
  z-index: 1;
  right: 15px;
  bottom: 15px;
  background-color: #C7B3B6;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
