.button-favourite {
  background-color: green;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
}

.heart {
  position: relative;
  background-color: red;
  display: block;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.heart::before {
  top: 0;
  left: -15px;
}

.heart::after {
  top: -15px;
  right: 0;
}