.story {
  margin-top: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
}

.story:last-child {
  margin-bottom: 60px;
}

.story-description {
  padding: 40px 20px 0;
  background-color: rgba(250, 250, 250, .5);
}

.story-title {
  margin-bottom: 24px;
  position: relative;
  display: block;
}

.story-title span {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 50px;
}

.story-subtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 15px;
  color: #727272;
  text-align: left;
}

.story-title span::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 0;
  background-color: #C7B3B6;
  height: 25px;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .story {
    padding-left: 120px;
    padding-right: 120px;
    grid-template-columns: 1fr 1fr;
  }

  .story-image {
    align-self: center;
    width: 568px;
    height: 380px;
  }

  .story-description {
    padding: 40px 20px;
    align-self: center;
  }

  .story:nth-child(2n) .story-description {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .story-subtitle {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 1440px) {
  .story {
    padding-left: 392px;
    padding-right: 392px;
  }
}