/* navigation */
.navigation .icon-line {
  display: block;
  margin-bottom: 8px;
  height: 2px;
  background-color: #FFFFFF;
}

.navigation .icon-line.line-1 {
  width: 44px;
  transform-origin: center;
}

.navigation .icon-line.line-2 {
  width: 38px;
  opacity: 1;
  transform-origin: center;
}

.navigation .icon-line.line-3 {
  width: 36px;
  transform-origin: center;
}

.navigation.active .icon-line.line-1 {
  width: 44px;
  transform: translateY(17px) rotate(-45deg);
}

.navigation.active .icon-line.line-2 {
  width: 44px;
  opacity: 0;
}

.navigation.active .icon-line.line-3 {
  width: 44px;
  transform: translateY(-3px) rotate(45deg);
}

/* sidebar */
.sidebar {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: transform .5s ease-in, opacity .5s ease-in, visibility .5s ease-in;
  overflow-y: scroll;
}

.sidebar.active {
  visibility: visible;
  transform: translateX(0);
  background-color: #C9C1B7;
  opacity: 1;
}

.sidebar .sidebar-menu-wrapper {
  padding: 120px 40px 80px;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-rows: min-content;
  justify-self: center;
}

.sidebar .sidebar-menu-wrapper .navigation {
  height: 44px;
  justify-self: center;
  margin-bottom: 24px;
}

.sidebar .sidebar-menu-wrapper .sidebar-logo {
  height: 52px;
  width: unset;
  justify-self: center;
  margin-bottom: 36px;
}

.sidebar .sidebar-menu-wrapper .sidebar-menu,
.sidebar .sidebar-menu-wrapper .sidebar-link {
  padding:  40px 20px;
  font-size: 24px;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  justify-self: center;
  border-bottom: 1px solid #FFFFFF;
}

.sidebar .sidebar-menu-wrapper:nth-child(1) {
  background-color: #C8C1B6;
}

.sidebar .sidebar-menu-wrapper:nth-child(2) {
  background-color: #E2DFDA;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 40px;
}

.header .header-wrapper {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-wrapper .header-logo,
.header .header-wrapper .navigation {
  height: 44px;
}

.header .header-wrapper .header-logo {
  width: unset;
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 72px;
  }

  .header .header-wrapper {
    max-width: 1136px;
  }

  .header .header-wrapper .header-logo,
  .header .header-wrapper .navigation {
    height: 72px;
  }
  
  .sidebar {
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url('/images/heros/hero-image_4.jpg');
  }
}